.a {
  color: #4CAF50;
}

.h1 {
  font-family: 'Poiret One', cursive;
}
.h2{
  font-family: 'Poiret One', cursive;
}
.h3 {
  font-family: 'Poiret One', cursive;
}
.p {
  font-family: 'Poiret One', cursive;
}
